.header{
  background: #565A5D;
}

.navigation {
  background: #061D49;
}

.container__navbar{
  border-radius: 50px;
}

.container__navbar--items li{
  padding-right: 10px;
  padding-left: 10px;
}

.container__navbar--items a{
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 20px !important;
  padding-left: 20px !important;
  color: #061D49;
  border-radius: 5px;
}
.active {
  background-color: #061D49;
  color: white !important;
}

.container__navbar--search{
  border-radius: 50px;
  width: 300px !important;
}
.container__navbar--search:focus{
  border: #061D49 !important;
  border-color: rgb(6, 29, 73);
  box-shadow: 0 1px 1px rgba(6, 29, 73, 0.075)inset, 0 0 8px rgba(6,29,73,0.6);
}
.main {
  background: #00B5E2;
}

.main__container--cards {
  background: white;
  border-radius: 0px 0px 0px 0px;
}

.card {
  border-radius: 0px 0px 20px 20px;
  -webkit-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.39);
  -moz-box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.39);
  box-shadow: 10px 10px 18px -9px rgba(0,0,0,0.39);
}

.card h2{
  color: #061D49 !important;
  padding: 0px 15px 0px 30px;
  font-size: 25px;
  font-weight: bold;
}

.main__container--text{
  color: #061D49 !important;
  padding: 0px 30px 30px 30px;
  font-size: 13px;
}

.main__container--tittle{
  color: #061D49 !important;
  font-size: 14px !important;
  letter-spacing: 3px !important;
  padding: 0px 30px 0px 30px;
  margin-top: 10px;
}

.main__container--labels{
  margin-left: 30px;
}

.main__container--labels span{
  background-color: #F8F9FA;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  font-size: 10px;

}

.main__container--green{
  background-color: #39DB79;
  border-radius: 0px 0px 20px 20px;
}

.card-img{
  width: 70%;
  margin-left: 13%;
}

.main__container--pagination {
  background: white;
  border-radius: 0px 0px 20px 20px;
}

.main__container--pagination ul{
  display: flex;
  justify-content: center;
}

hr{
  margin: 0px;
  margin-left: 3%;
  padding: 10px;
  width: 93%;
}

.pagination{
  padding-bottom: 50px;
}

.page-link{
  border: none !important;
  margin: 5px;
  color: #061D49 !important;

}

.active-pagination {
  color: #061D49 !important;
  background-color: #A6B3FB;
  border-radius: 200px;
}

.footer {
  background: #061D49;
}

.footer__details{
  color: white;
}

.footer__icons img{
  width: 20px;
}


